<section
    class="landing-section w-screen relative items-center text-center overflow-hidden"
    data-header-color="#bea347"
>
<div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
    <h1 class="text-black text-[40px] font-medium">Our Work</h2>
    <div class="-m-1 flex flex-wrap md:-m-2 ">
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full max-h-64 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://communityconstruction.com/wp-content/uploads/2023/04/43852b_f01025ae1ddb4d2dad8e6743794fbb08mv2_d_2592_1728_s_2.jpg" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full max-h-64 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://communityconstruction.com/wp-content/uploads/2023/04/43852b_fac62313ca3d4491888f44589dcfdae3mv2.jpg" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full max-h-64 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://communityconstruction.com/wp-content/uploads/2023/04/b697aa_28ddfb75efd24418a1e529d70fd517e7mv2_d_4032_3024_s_4_2.jpg" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full max-h-64 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://communityconstruction.com/wp-content/uploads/2023/04/43852b_f8b90a5e88bd41d18943f618af7c1f10mv2.jpg" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full max-h-64 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://communityconstruction.com/wp-content/uploads/2023/04/43852b_edee7efc383d4b12b4daa843cd28c406mv2_d_2592_1728_s_2.jpg" />
        </div>
      </div>
      <div class="flex w-1/3 flex-wrap">
        <div class="w-full max-h-64 p-1 md:p-2">
          <img
            alt="gallery"
            class="block h-full w-full rounded-lg object-cover object-center"
            src="https://communityconstruction.com/wp-content/uploads/2023/04/43852b_bb1a2cb866ee465a99a1be699af0e139mv2.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>